doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Dance Studio
  link(rel='stylesheet' href='style.css')
  link(rel='stylesheet' href='responsive.css')
    
header
  
  nav.nav-bar#navbar
    
    ul
      li
        a(href='' style="color:#f75c09;") Home
      li
        a(href='/contact') Contact
      li
        a(href='') Services
      li
        a(href='') Support
  .burger 
      .line
      .line
      .line       
.section-1
  .img
   img(src="images/old.jpg", alt="")
  .text
    h3 let&apos;s dance
    h2 join the  incredible
    h2
      | world of dance
      span .
    button.btn Apply now
.section-2
  .text
    h3 What&apos;s your style?
    h2 a few words about
    h2 our studio
    p
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo consequatur, animi possimus facilis quibusdam perferendis magni ipsam reiciendis. Soluta numquam accusantium consectetur. Dolorem exercitationem nesciunt, earum nihil cumque quidem voluptatem, modi itaque omnis iusto esse distinctio ea porro a, quae ducimus alias ut.
    .line
    p.p2
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus ut, nobis eaque molestiae iusto tempora quae fuga aut quam unde consequuntur, nam qui.
    button.btn more about us
  .img
     img(src="images/dancing.jpg", alt="")
.section-3
  h3 our dancing styles
  h1 ANY KIND OF DANCING IS BETTER
  h1 THAN NO DANCING AT ALL
  .card-1
    .text
      span 01
      h1 classical ballet
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vel ab cumque voluptatem. Eveniet quos aliquam aliquid atque ullam placeat illum?
      button.btn know more
    .img
     img(src="images/ballet.jpg", alt="")
  .card-1
    .img
     img(src="images/hip-hop.jpg", alt="")
    .text
      span 02
      h1 hip hop dance
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vel ab cumque voluptatem. Eveniet quos aliquam aliquid atque ullam placeat illum?
      button.btn know more
.see-more
  | see more styles
.trainers
  .first-trainer
    .text
      h1 meet amazing
      h1 dance trainers
      p
        | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, exercitationem!
      button.btn see all
    .first
      img(src='images/tarnier1.jpg' alt='')
      .about
        p Jhon deo
    .first
      img(src='images/trainier4.jpg' alt='')
      .about
        p ymmy tum
  .first-trainer
    .first
      img(src='images/trainer5.jpg' alt='')
      .bout
        p jissy jones
    .first
      img(src='images/womentrainer.jpg' alt='')
      .about
        p emax dex
    .first
    
      .about
      
footer
 .footer
    p &copy;Copyrights resevered @ Dance Studio 200      
    p Web application developed by Jaydeep Shelake
script(src='index.js')
    